<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p>
			<h2><%= @blog.title %></h2>
		</p>
		<p>
		   <%= @blog.body %>
		</p>
		<%= link_to 'Back', blogs_path %> |
		<%= link_to 'Edit', edit_blog_path(@blog)  %> |
		<%= link_to 'Delete Post', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>
